<div class="tab-pane fade mb-3" id="editar" role="tabpanel" aria-labelledby="editar-tab">
    <div class="d-flex align-items-center mb-3">
      <h5 class="mb-0">6367 - Colônia de férias Lagoa - Flamengo</h5>
      <button class="btn btn-secondary btn-sm ms-2">
        <i class="bi bi-eye-fill"></i>
      </button>
      <div class="ms-auto">
        <div class="row">
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Cupom" name="cod_cupom" id="cod_cupom">
          </div>
          <div class="col-sm-2">
            <button" class="btn btn-warning">Aplicar</button>
          </div>
        </div>
      </div>
    </div>
</div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Serviço</th>
            <th scope="col">Data</th>
            <th scope="col">Qtd</th>
            <th scope="col">Usuário</th>
            <th scope="col">Preço unitário</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2024 - Dezembro - Semana de 09 a 13 - Semana Manhã</td>
            <td>13/12/2024</td>
            <td>1</td>
            <td>Filipi teste</td>
            <td>R$605,25</td>
            <td>R$605,25</td>
          </tr>
          <tr>
            <td>Taxa de inscrição</td>
            <td>13/12/2024</td>
            <td>1</td>
            <td>Filipi teste</td>
            <td>R$60,00</td>
            <td>R$60,00</td>
          </tr>
          <!-- Replicar linhas acima para cada exemplo "dummy" necessário -->
        </tbody>
      </table>
    </div>

    <div class="row justify-content-center" id="opcoesPagamento">
      <div class="col-auto">
          <button class="btn btn-secondary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#linkPagamento" aria-expanded="false">
              Link Pagamento
          </button>
      </div>
      <div class="col-auto">
          <button class="btn btn-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pagamentoManual" aria-expanded="false">
              Finalizar pedido
          </button>
      </div>
    </div>