<!-- partials/cardCupon.html -->

<div class="card card-small mt-2">
    <!-- Card Header -->
    <div class="card-header border-bottom">
      <h5 class="mb-0">Cupons</h5>
    </div>
  
    <!-- ################################################################################################### -->
  
    <div class="card-body">
      <div class="text-center">
        <h7 style="color: grey;">Este padrão já está definido. Clique no botão abaixo para visualizar a tela que é chamada a partir desta.</h7>
      </div>
      <div class="text-center mt-3">
        <button class="btn btn-primary" id="btnAdicionarCupom">Adicionar cupom</button>
      </div>
    </div>
</div>