<!-- partials/cardUsuariosAtendimento.html -->

<div class="card card-small mt-2">
    <!-- Card Header -->
    <div class="card-header border-bottom">
      <h5 class="mb-0">Usuários</h5>
    </div>
  
    <!-- ################################################################################################### -->
  
    <div class="card-body">
        <div>
            <h7 style="color: grey;">Esta tela já está definida na seção 'Consulta', sub seção 'Usuários'.</h7>
          </div>
    </div>
</div>