<!-- partials/cardTaxas.html -->
<div class="card card-small mt-2">
  <!-- Card Header -->
  <div class="card-header border-bottom">
    <h5 class="mb-0">Taxas</h5>
  </div>

  <!-- Card Body -->
  <div class="card-body">
    <div class="text-center">
      <p class="text-muted">Este padrão já está definido. Clique no botão abaixo para visualizar a tela que é chamada a partir da opção "Outras taxas"</p>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-primary" id="btnOutrasTaxas">Outras taxas</button>
    </div>
  </div>
</div>
