<!-- partials/cardMeiosPagamento.html -->
<div class="card card-small mt-2">
  <!-- Card Header -->
  <div class="card-header border-bottom">
    <h5 class="mb-0">Meios de Pagamento</h5>
  </div>

  <!-- Card Body -->
  <div class="card-body">
    <div class="text-center">
      <p class="text-muted">Esta tela já está definida em outra. Clique nos botões abaixo para visualizar os tipos de card distintos para cada meio de pagamento</p>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-primary me-2" id="btnPagamento01">PIX / Manual / Débito / Crédito em conta / Crédito de Troca</button>
      <button class="btn btn-primary me-2" id="btnPagamento02">Boleto</button>
      <button class="btn btn-primary" id="btnPagamento03">Cartão de Crédito</button>
    </div>
  </div>
</div>
