<!-- partials/cardEditarPagamento01.html -->
<div class="card card-small mt-2">
  <!-- Card Header -->
  <div class="card-header border-bottom">
    <h5 class="mb-0">Associar o PIX às unidades</h5>
  </div>

  <!-- Card Body -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-check mb-3">
          <div class="d-flex align-items-center">
            <div class="form-check form-switch">
              <input class="form-check-input me-2" type="checkbox" role="switch" id="unidade1Pix">
            </div>
            <label class="form-check-label" for="unidade1Pix">Colônia de férias Lagoa</label>
          </div>
        </div>
        
        <div class="form-check mb-3">
          <div class="d-flex align-items-center">
            <div class="form-check form-switch">
              <input class="form-check-input me-2" type="checkbox" role="switch" id="unidade2Pix">
            </div>
            <label class="form-check-label" for="unidade2Pix">Colônia de férias Lagoa - Flamengo</label>
          </div>
        </div>
        
        <div class="form-check mb-3">
          <div class="d-flex align-items-center">
            <div class="form-check form-switch">
              <input class="form-check-input me-2" type="checkbox" role="switch" id="unidade3Pix">
            </div>
            <label class="form-check-label" for="unidade3Pix">Colônia de férias Laranjeiras</label>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="form-check mb-3">
          <div class="d-flex align-items-center">
            <div class="form-check form-switch">
              <input class="form-check-input me-2" type="checkbox" role="switch" id="unidade4Pix">
            </div>
            <label class="form-check-label" for="unidade4Pix">Colônia de férias Tijuca</label>
          </div>
        </div>
        
        <div class="form-check mb-3">
          <div class="d-flex align-items-center">
            <div class="form-check form-switch">
              <input class="form-check-input me-2" type="checkbox" role="switch" id="unidade5Pix">
            </div>
            <label class="form-check-label" for="unidade5Pix">Colônia de férias Ilha do Governador</label>
          </div>
        </div>
        
        <div class="form-check mb-3">
          <div class="d-flex align-items-center">
            <div class="form-check form-switch">
              <input class="form-check-input me-2" type="checkbox" role="switch" id="unidade6Pix">
            </div>
            <label class="form-check-label" for="unidade6Pix">Loja Gecrear</label>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="form-check mb-3">
          <div class="d-flex align-items-center">
            <div class="form-check form-switch">
              <input class="form-check-input me-2" type="checkbox" role="switch" id="unidade7Pix">
            </div>
            <label class="form-check-label" for="unidade7Pix">Festa Gecrear</label>
          </div>
        </div>
        
        <div class="form-check mb-3">
          <div class="d-flex align-items-center">
            <div class="form-check form-switch">
              <input class="form-check-input me-2" type="checkbox" role="switch" id="unidade8Pix">
            </div>
            <label class="form-check-label" for="unidade8Pix">Colônia de férias Leblon - Paissandu</label>
          </div>
        </div>
        
        <div class="form-check mb-3">
          <div class="d-flex align-items-center">
            <div class="form-check form-switch">
              <input class="form-check-input me-2" type="checkbox" role="switch" id="unidade9Pix">
            </div>
            <label class="form-check-label" for="unidade9Pix">Colônia de férias Barra Bowling e Hotzone</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Card Footer -->
  <div class="card-footer text-center">
    <button type="button" class="btn btn-secondary me-2" id="btnVoltarPagamento01">Voltar</button>
    <button type="button" class="btn btn-warning" id="btnSalvarPagamento01">Salvar</button>
  </div>
</div>
