<!-- partials/cardPermissaoUsuarioAdd.html -->
<div class="card card-small mt-2">
    <div class="card-header border-bottom d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Adicionar Usuário</h5>
      <div>
        <button type="button" class="btn btn-secondary btn-sm me-2" id="btnVoltarPermissaoUsuarioAddHeader">
          Voltar
        </button>
        <button type="button" class="btn btn-primary btn-sm" id="btnSalvarPermissaoUsuarioAddHeader">
          Salvar
        </button>
      </div>
    </div>
  
    <div class="card-body">
      <h2 class="fs-5">E-mail do usuário ativo</h2>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Digite o email do usuário para quem quer enviar o convite" aria-label="Email" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Confirme o email do usuário para quem quer enviar o convite" aria-label="Confirme Email" aria-describedby="basic-addon1">
      </div>
      <br>
      <h2 class="fs-5">Data de expiração de usuário ativo</h2>
      <input type="date" name="expiration_date" class="form-control" placeholder="Data de expiração de usuário ativo" id="id_expiration_date">
      <!-- Adicione outros campos ou abas conforme necessário -->
    </div>
  
    <div class="card-footer d-flex justify-content-center">
      <button type="button" class="btn btn-secondary me-2" id="btnVoltarPermissaoUsuarioAddFooter">
        Voltar
      </button>
      <button type="button" class="btn btn-primary" id="btnSalvarPermissaoUsuarioAddFooter">
        Salvar
      </button>
    </div>
  </div>
  