<!-- partials/cardCupon.html -->

<div class="card card-small mt-2">
    <!-- Card Header -->
    <div class="card-header border-bottom">
      <h5 class="mb-0">Cupons</h5>
    </div>
  
    <!-- ################################################################################################### -->
  
    <div class="card-body">
      <div>
        <h7 style="color: grey;">Esta tela já está definida em outra. Clique no botão abaixo para visualizar a tela 'Adicionar cupom' que é chamado a partir desta tela</h7>
      </div>
      <div class="text-center mt-3">
        <button class="btn btn-primary">Adicionar cupom</button>
      </div>
    </div>
</div>