<!-- partials/menuCadastros.html -->
<div class="bg-light border-bottom px-4 py-2" id="menuCadastros">
    <ul class="nav nav-pills" id="menuCadastrosNav">
      <li class="nav-item me-2">
        <a class="nav-link active" href="#" id="menuContas">Contas</a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#" id="menuPermissoes">Permissões</a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#" id="menuRecebedores">Recebedores</a>
      </li>
    </ul>
  </div>
  