<!-- partials/menuAtendimento.html -->
<div class="bg-light border-bottom px-4 py-2" id="menuAtendimento">
    <ul class="nav nav-pills" id="menuAtendimentoNav">
      <li class="nav-item">
        <a class="nav-link active" href="#" id="menuPedidosAtendimento">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuCupons">Cupons de desconto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuContratantesAtendimento">Contratantes</a>
      </li>
      <!--li class="nav-item">
        <a class="nav-link" href="#" id="menuUsuariosAtendimento">Usuários</a>
      </li-->
    </ul>
  </div>
  