<!-- partials/menuConfigLojas.html -->
<div class="bg-light border-bottom px-4 py-2" id="menuConfigLojas">
    <ul class="nav nav-pills" id="menuConfigLojasNav">
      <li class="nav-item">
        <a class="nav-link active" href="#" id="menuUnidades">Unidades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuHorarios">Horários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuComposicoes">Composições</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuPrazos">Prazos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuServicos">Serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuComplementosLojas">Complementos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuFormularios">Formulários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuTermosDeUso">Termos de uso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuMeiosPagamento">Meios de pagamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuBeneficios">Benefícios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuTaxas">Taxas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuDivisaoReceitas">Divisão de receitas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuDesativarDatas">Desativar datas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menuLayout">Layout</a>
      </li>
    </ul>
  </div>
  