<!-- partials/menuConsultas.html -->
<div class="bg-light border-bottom px-4 py-2" id="menuConsultas">
    <ul class="nav nav-pills" id="menuConsultasNav">
      <li class="nav-item me-2">
        <a class="nav-link active" href="#" id="menuAgenda">Agenda</a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#" id="menuPedidos">Pedidos</a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#" id="menuComplementos">Complementos</a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#" id="menuRelatoriosBaixados">Relatórios baixados</a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#" id="menuContratantes">Contratantes</a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#" id="menuUsuarios">Usuários</a>
      </li>
    </ul>
  </div>